.profile__button-edit {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-top: 37px;
  border: white 1px solid;
  background: url("../../../images/vector-edit.svg") no-repeat center transparent;
}
.profile__button-edit:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
