.profile {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 51px;
  display: flex;
  color: #fff;
  max-width: 880px;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .profile {
    margin-right: 19px;
    margin-left: 19px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }
}
