.footer__copyright {
  color: #545454;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 22px;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 0.875em;
    line-height: 17px;
  }
}
