.profile__info {
  margin-top: 22px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .profile__info {
    margin-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .profile__info {
    justify-self: center;
    margin-bottom: 33px;
    margin-left: 0;
    text-align: center;
  }
}
