.element__text {
  color: black;
  margin-left: 21px;
  margin-top: 25px;
  margin-bottom: 31px;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
