.footer {
  max-width: 880px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-left: 38px;
    margin-right: 38px;
  }
}
@media screen and (max-width: 450px) {
  .footer {
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 36px;
  }
}
