.popup__title {
  margin-bottom: 54px;
  font-size: 1.5em;
  font-weight: 900;
  line-height: 29px;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .popup__title {
    margin-bottom: 75px;
    font-size: 1.125em;
    line-height: 22px;
  }
}
